.App{
  text-align: center;
 
}

body{
  background-color: black !important;
}

.h1{
  text-align: center;
  color: #EEB30D !important;
}

/* Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 20px;
  background-color: #EEB30D;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
text-emphasis: bold;
  text-align: center;
  padding: 10px 8px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: black;
}



.cards{
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px
  

}

